* {
  margin: 0;
  padding: 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body {
  background-color: rgb(226, 225, 216);
  background-image: url("/drain.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: scroll; */
  background-position: center top;
}

header {
  height: 100px; 
  display: flex; 
  justify-content: center; 
  align-items: center;
  color: maroon;
}
h1 {
  font-size: 80px;
  font-style: oblique;
}


main {
  display: flex; 
  justify-content: center;
  flex-direction: column;
  


}

form {
  width: 400px;
  height: 200px;
  background-color:silver;
  position:relative;
  display: flex; 
  flex-direction: column;
  justify-content: space-evenly; 
  align-items: center;
  margin: 10px;
  padding-top: 15px;
  color: maroon;
  border-radius: 10px;
}

button {
  background-color:rgb(226, 225, 216);
  width: 75px;
  height: 25px;
  color: maroon;
  border: none;
  margin: 5px;
}

input[type='text'] {
  width: 90%;
  height: 50px;
  padding-left: 4px;
  border: none;
  color: maroon;
  background-color: snow;
}

#drains-container {
  width: 85%;
}

#btns-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#drains-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color:silver
}

.house-help {
  background-color:rgb(226, 225, 216) ;
  width: 300px;
  margin: 20px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.house-address {
  font-size: 18px;
  margin: 5px 0;
}

.house-price {
  font-size: 15px;
  margin: 5px 0;
}

.btns-container {
  width: 100%; 
  display: flex;
  justify-content: space-evenly;
  margin: 5px;
}

.btns-container > button {
  width: 20px;
}